{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "{{nodeid}}", "0.1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
	 ssl,
         mochiweb,
         {{appid}},
         erlgmail,
         tempile,
         erlydtl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "{{nodeid}}"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, {{appid}}, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, tempile, [{incl_cond, include}]},
       {app, erlgmail, [{incl_cond, include}]},
       {app, erlydtl, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
