{erl_opts, [debug_info]}.

{deps_dir, ["apps"]}.

{deps, [{erlgmail, "1.0", {git, "git://github.com/russelldb/erlgmail.git", "HEAD"}},
 {tempile, "1", {git, "git://github.com/russelldb/tempile.git -b erlydtl", "HEAD"}},
 {mochiweb, "1.7.1", {git, "http://github.com/basho/mochiweb.git", "HEAD"}}]}.

{sub_dirs, ["apps/erlydtl", "apps/mochiweb", "apps/tempile", "apps/erlgmail", "apps/{{appid}}", "rel"]}.

{require_otp_vsn, "R13B04"}.

{compile_post_script, "echo 'you should run chmod +x rel/overlay/bin/{{appid}}'"}.